html, body {
  height: 100%;
  background-color: #253237;
}

.clear { clear: both; }

.header {
  width: 100%;
  padding: 15px 20px;
  color: #f9f9f9;
}
.header__text {
  margin-bottom: 5px;
  color: #9DB4C0;
}
.header button {
  background-color: white;
  color: #253237;
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}
.header button:active,
.header button:focus {
  outline: none;
}



.tones { 
  height: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  padding: 0 15px;
}
.tone-row {
  display: flex;

  /* height: 1/8th of screen width => 12.5% */
  height: 12.5%;
}
.tone-button {
  background-color: #5C6B73;
  padding: 0;

  /* flex: 1 1 0; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 100%; 

  border: 5px solid #253237;
  cursor: pointer;
  transition: background-color 0.2s;
}
.tone-button:hover {
  background-color: #9DB4C0;
}

.tone-button:focus,
.tone-button:active {
  outline: none;
}
.tone-button.active {
  background-color: #E0FBFC;
}

.tone-row:first-child > .tone-button { border-top-width: 5px; }
.tone-row:last-child > .tone-button  { border-bottom-width: 5px; }
.tone-button:first-child { border-left-width: 5px; }
.tone-button:last-child  { border-right-width: 5px; }

.beat-markers {
  display: flex;
  padding: 0 15px;
}
.beat-marker {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.beat-marker::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #5C6B73;
  background-color: #5C6B73;
}

.beat-marker.active::after {
  border-color: #E0FBFC;
  background-color: #E0FBFC;
}

.grid-loader > div {
  margin: 15px auto;
}