html, body {
  height: 100%;
  background-color: #2D3142;
}

.App {
  text-align: center;
}


.header {
  color: #f9f9f9;
}



.tones { 
  height: calc(100vw - 100px);
  max-height: calc(100vh - 100px);
  padding: 0 15px;
}
.tone-row {
  display: flex;

  /* height: 1/8th of screen width => 12.5% */
  height: 12.5%;
}
.tone-button {
  background-color: #f9f9f9;
  padding: 0;

  /* flex: 1 1 0; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 100%; 

  border: 5px solid #2D3142;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tone-button:hover {
  background-color: #BFC0C0;
}

.tone-button:focus,
.tone-button:active {
  outline: none;
}
.tone-button.active {
  background-color: #EF8354;
}

.tone-row:first-child > .tone-button { border-top-width: 5px; }
.tone-row:last-child > .tone-button  { border-bottom-width: 5px; }
.tone-button:first-child { border-left-width: 5px; }
.tone-button:last-child  { border-right-width: 5px; }

.beat-markers {
  display: flex;
  padding: 0 15px;
}
.beat-marker {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.beat-marker::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
}

.beat-marker.active::after {
  border-color: #EF8354;
  background-color: #EF8354;
}

.grid-loader > div {
  margin: 15px auto;
}