* { 
  box-sizing: border-box; 
}

html, body {
  height: 100%;
  background-color: #253237;
}

.clear { clear: both; }

.header {
  width: 100%;
  padding: 15px 20px;
  position: relative;
}
.header__text {
  margin-bottom: 7.5px;
  color: #9DB4C0;
}
.header__username {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #9DB4C0;
  cursor: pointer;
}

.play-stop {
  font-size: 28px;
  cursor: pointer;
  color: #E0FBFC;
  transition: color 0.2s;
}
.play-stop:hover {
  color: #C2DFE3;
}

.tones { 
  height: calc(100vw - 100px);
  max-height: calc(100vh - 105px);
  padding: 0 15px;
}
.tone-row {
  display: flex;

  /* height: 1/8th of screen width => 12.5% */
  height: 12.5%;
}
.tone-button {
  background-color: #5C6B73;
  padding: 0;

  /* flex: 1 1 0; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: 100%; 

  border: 5px solid #253237;
  cursor: pointer;
  transition: background-color 0.2s;
}
.tone-button:hover {
  background-color: #9DB4C0;
}

.tone-button:focus,
.tone-button:active {
  outline: none;
}
.tone-button.active {
  background-color: #E0FBFC;
}

.beat-markers {
  display: flex;
  padding: 0 15px;
}
.beat-marker {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.beat-marker::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #5C6B73;
  background-color: #5C6B73;
}

.beat-marker.active::after {
  border-color: #E0FBFC;
  background-color: #E0FBFC;
}

.grid-loader > div {
  margin: 15px auto;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.modal.visible {
  display: block;
}
.modal__main {
  position:fixed;
  background: white;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.modal__header {
  position: relative;
  padding: 30px 30px 0 30px;
}
.modal__header .modal-close {
  position: absolute;
  right: 35px;
  bottom: 0;
  cursor: pointer;
}

.modal__content {
  padding: 30px;
}

.input-error {
  font-size: 14px;
  color: red;
  height: 24px;
}